/* (A) POPUP */
.picker-wrap {
  position: fixed;
  top: 35px;
  left: 50px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
  font-family: Roboto;
}
.picker-wrap.show {
  opacity: 1;
  visibility: visible;
}
.picker-wrap .picker {
  margin: 0;
  border-radius: 10px;
}

/* (B) CONTAINER */
.picker {
  max-width: 300px;
  background: slategray;
  padding: 10px;
}

/* (C) MONTH + YEAR */
.picker-m, .picker-y {
  width: 50%;
  padding: 0 5px;
  font-size: 10pt;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-family: Roboto;
}

/* (D) DAY */
.picker-d table {
  color: #fff;
  width: 100%;
  font-size: 10pt;
  margin-top: 10px;
}
.picker-d table td {
  max-width: 14.28%; /* 7 EQUAL COLUMNS */
  padding: 3px;
  text-align: center;
}
/* HEADER CELLS */
tr.picker-d-h{
  margin: 15px !important;
}
/* BLANK DATES */
.picker-d-b {
  /*background: #4e4e4e;*/
}
/* TODAY */
.picker-d-td {
  background: darkslategray;
  border-radius: 5px;
}
/* PICKABLE DATES */
.picker-d-d:hover {
  cursor: pointer;
  background: darkgray;
  border-radius: 5px;
}
/* UNPICKABLE DATES */
.picker-d-dd {
  color: #888;
  background: #4e4e4e;
  border-radius: 5px;
}